body {
    background-color: black;
}

img {
    border: white solid 5px;
    width: 100%;
}

#joker {
    margin-left: 25%;
    width: 50%;
    margin-top: 100px;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
}